*{
    padding: 0;
    margin: 0;
}
:root{
    --color-pink:#C57A75;
    --color-blue:#63E1F9;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rosybrown;
}
h3{
    color: rgb(22, 19, 32);
}
a{
    cursor: pointer;
    text-decoration: none;
}
a:visited{
color: white;
}
#allPage{
    max-width: 1366px;
    margin: auto;    
    box-sizing: border-box;
    
}
main{
  width: 100%;  
}
footer{
    background-color: var(--color-pink);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;

}
#inicialSectionContainer{
    background-color: var(--color-pink);
    background-image: linear-gradient(var(--color-pink), #aa6864);
    color: white;
    width: 100%;
    height: auto;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding: 1rem;
    box-sizing: border-box;
}
#secondSectionContainer{
    background-color: #FFFAFA;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#secondSectionContainer h2{
    align-self: center;
    padding: 3rem;
}
#contactSectionContainer{
    background-color: #FFFAFA;
    width: 100%;
    height:60vh;
    display: flex;
    justify-content: center;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;
    width: 60%;
    height: 70%;
    }
#contactTitleBox{
display: flex;
justify-self: flex-start;
flex-direction: column;
align-items: center;
}
#formContact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

#footerBoxContainer{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7vh;

}
#footerLinksGroup{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

#mainNavContainer{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 100px);
    margin: auto;
    padding: 0.5rem;
}
.navGroupOfItems{
    width: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.phone_contact{
display: flex;
color: white;
align-items: center ;}

#titleCardContent{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#presentation {
display: grid;
grid-template-rows: 30% 20% 30%;
grid-template-columns: auto;
align-content: center;
}
#presentation h2{
    font-family: Arial Black, Helvetica, sans-serif;
    font-size: 6rem;
    display: flex;
}
#presentation p {
    font-size: 1.5rem;
    width: 90%;

}
#skillsReferenceContainer{
    display: flex;
    align-self: center;
    gap: 10%;
}
.skillsReference{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
.iconOfskills{
    align-self: center;
    justify-self: center;
}
#titleDonutImg{
    width: 600px;
}
#containerAssortmentOfDonuts{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 350px;
    margin: auto;
    flex-wrap: wrap;
    
}
.assortmentOfDonutsItem{
    display: grid;
    grid-template: repeat(4, auto) / auto;
    align-content: flex-start;
    width: 30%;
    height: auto;
    box-shadow: 2px 3px 6px 5px rgba(0, 0, 0, 0.158),
                1px 2px 3px 3px rgba(0, 0, 0, 0.158);
    ;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #FFF5F7;
    
}
.assortmentOfDonutsItem span{
    justify-self: center;
}
.img-donut-of-assortment{
    width: 80%;
    justify-self: center;
}
.addQuantityContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
.specifyQuantityInput{
    display: flex;
    align-items: center;
    gap: 10%;
}
.addQuantityOfDonutsSelectedToCart{
   padding: 0.8rem;
    border: none;
    border-radius: 2rem;
    background-color: var(--color-blue);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
.assortment-icon{
    justify-self: flex-end;
    color: var(--color-pink);
}
.flavor_and_price{
    display: flex;
    justify-self: center;
    gap: 1rem;
}
.flavor_and_price span:last-of-type{
    color: var(--color-pink);
}
.btn_decreased_quantity_of_donuts{
    background: none;
    border: none;
    color: var(--color-pink);
}
.btn_increase_quantity_of_donuts{
    background: none;
    border: none;
    color: var(--color-pink);
}
#makeYourDonutContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 450px;
    margin: auto;
    margin-top: 5%;
    border-radius: 2rem;
    box-shadow: 1px 2px 17px 11px #fff;}
#makeYourDonutContainer h3{
    margin-left: 7%;
}
#makeYourDonutContainer h2{
    align-self: center;
}
.flex_list_donuts_fills_and_additives{
    display: flex;
    gap: 7%;
    margin-left: 70px;}

.box_of_Create_your_donut{
    display: flex;
}
#quantityOfCreatedDonutsContainer{
    align-self: center;
}
#chooseQuantityOfCreatedDonuts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.containerTotalPriceOfCreatedDonuts{
 display: flex;
 flex-direction: row;
 justify-content: center;
}
.footer_icons{
    color: white;
}

button{
    cursor: pointer;
}

input[type="text"], input[type="tel"]{
    padding: 1rem;
    width: 200px;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 3px 6px 5px rgb(0 0 0 / 16%), 1px 2px 3px 3px rgb(0 0 0 / 16%);
        flex-shrink: 0;
}

#requestContactBtn{
    width: 130px;
    padding: 0.8rem;
    align-self: center;
    border-radius: 2rem;
    border: none;
    color: white;
    background-color: var(--color-blue);
    font-weight: 700;
}
#checkoutBtn{
        width: 130px;
        padding: 0.8rem;
        align-self: center;
        border-radius: 2rem;
        border: none;
        color: white;
        background-color: var(--color-blue);
        font-weight: 700;
}
